{% extends 'courseinfo/base.html' %}

{% block title %}
    Instructor - {{ instructor }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h2>{{ instructor }}</h2>
                <ul class="inline">
                    {% if perms.courseinfo.change_instructor %}
                        <li>
                            <a href="{{ instructor.get_update_url }}"
                               class="button button-primary">
                                Edit Instructor</a></li>
                    {% endif %}
                    {% if perms.courseinfo.delete_instructor %}
                        <li>
                            <a href="{{ instructor.get_delete_url }}"
                               class="button button-primary">
                                Delete Instructor</a></li>
                    {% endif %}
                </ul>

                <section>
                    <table>
                        <tr>
                            <th>First Name:</th>
                            <td>{{ instructor.first_name }}</td>
                        </tr>
                        <tr>
                            <th>Last Name:</th>
                            <td>{{ instructor.last_name }}</td>
                        </tr>
                        {% if instructor.disambiguator %}
                        <tr>
                            <th>Disambiguator:</th>
                            <td>{{ instructor.disambiguator }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </section>

                <section>
                    <h3>Sections</h3>
                    <ul>
                        {% for section in section_list %}
                            <li>
                                <a href="{{ section.get_absolute_url }}">{{ section }}</a>
                            </li>
                        {% empty %}
                            <li><em>There are currently no sections for this instructor.</em></li>
                        {% endfor %}
                    </ul>
                </section>

            </div>
        </div> <!-- row -->

    </article>
{% endblock %}
