{% extends 'courseinfo/base.html' %}

{% block title %}
    Instructor List
{% endblock %}

{% block create_button %}
    {% if perms.courseinfo.add_instructor %}
        <a
                href="{% url 'courseinfo_instructor_create_urlpattern' %}"
                class="button button-primary">
            Create New Instructor</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Instructor List</h2>
    {% if perms.courseinfo.add_instructor %}
        <div class="mobile">
            <a
                    href="{% url 'courseinfo_instructor_create_urlpattern' %}"
                    class="button button-primary">
                Create New Instructor</a>
        </div>
    {% endif %}
    <ul>
        {% for instructor in instructor_list %}
            <li>
                <a href="{{ instructor.get_absolute_url }}">
                    {{ instructor }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no instructors available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}



