{% extends 'courseinfo/base.html' %}

{% block title %}
    Semester List
{% endblock %}

{% block create_button %}
    {% if perms.courseinfo.add_semester %}
        <a
                href="{% url 'courseinfo_semester_create_urlpattern' %}"
                class="button button-primary">
            Create New Semester</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Semester List</h2>
    {% if perms.courseinfo.add_semester %}
        <div class="mobile">
            <a
                    href="{% url 'courseinfo_semester_create_urlpattern' %}"
                    class="button button-primary">
                Create New Semester</a>
        </div>
    {% endif %}
    <ul>
        {% for semester in semester_list %}
            <li>
                <a href="{{ semester.get_absolute_url }}">
                    {{ semester }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no semesters available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
